In [1]:
import os
import sqlite3
import pandas as pd

# IMPORT DATA FOLDER

In [2]:
data_iris_folder = os.listdir('./')

In [3]:
# CHECK FOLDER 
error_message = 'error : sqlite file not available'
assert "database.sqlite" in data_iris_folder,error_message

In [4]:
# IMPORT DATA
conn = sqlite3.connect('./database.sqlite')
# open sqlite with pandas DataFrame
df = pd.read_sql_query('SELECT* FROM iris',conn)
# open sqlite with cursor
cursor = conn.cursor()
print(type(cursor))
print(type(df))

<class 'sqlite3.Cursor'>
<class 'pandas.core.frame.DataFrame'>

# SHOW ROWS

In [5]:
for row in cursor.execute('SELECT * FROM iris LIMIT 4'): print(row)
type(row)

(1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa')
(2, 4.9, 3, 1.4, 0.2, 'Iris-setosa')
(3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa')
(4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa')

tuple

In [6]:
df.head()
print(len(df))

150

# SHOW COLUMNS NAMES

In [7]:
[row[0]for row in cursor.description]

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

# IMPORT WITH CONDITION

In [8]:
iris_data = pd.read_sql_query('SELECT* FROM iris WHERE species=="Iris-setosa"',conn)
iris_data.head()
print(len(iris_data))

50